.stay-focused{
    color: rgb(70, 153, 153);
}
body{
    font-family: 'Lobster',
    
}
.border-line{
    border-left: 4px solid;
    border-image: linear-gradient(rgb(48, 18, 48), rgb(182, 248, 248));
    border-image-slice: 1;
    

    
}
h1{
    font-size: 55px;
    padding-left: 15px;
}    
h2{
    font-size: 50px;
    padding-left: 15px;
    color: rgb(70, 153, 153)
}
p{
    font-size: 30px;
    
}
#list-font{
    font-size: 20px; 
    font-weight: 600;
    
}
.a-link{
    text-decoration: none;
    background-image: linear-gradient(rgb(56, 117, 117), rgb(180, 247, 247));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    position: absolute;
    margin-top: 20px;    
    
    

}
h3{
    font-size: 20px;
    font-weight: 500;
    margin-top: 100px;
}
.flexible-container{
    display: flex;
    margin-top: 50px; 
}
.half-width{
    width: 50%;
    padding-left: 100px;
}
.half-width-image{
    width: 40%;
    height: 600px;
    

    
}
img{
    width: 80%;
    height: 100%;
}
.mission{
    text-align: center;
}
.cyan{
    color:rgb(70, 153, 153) ;
}
.box-1{
    border: 5px Solid rgb(220, 243, 243) ;
    background-color:rgb(220, 243, 243) ;
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 20px;
    width: 80%;
    margin-left: 50px;
    margin-right: 5px;
   
   
}
.box-2{
    border: 5px Solid rgb(231, 252, 208) ;
    background-color:rgb(231, 252, 208) ;
   border-radius: 40px;
   padding-left: 15px;
   padding-right: 20px;
   width: 80%;
  margin-left: 6%;
  margin-right: 50px;
   
  
   
    
}
.box-3{
    border: 5px Solid rgb(248, 230, 250);
    background-color:rgb(248, 230, 250) ;
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 20px;
    width: 85%;
    margin-right: 50px;
    
    
}
.image{
    width: 300px;
}
